<%- include('header'); -%>

<%- include('add-button'); -%>

<div class="container">

<h6>Dashboard</h6>
<h3>Welcome <%=userName%></h3>

<% if(stories.length != 0) {%>
<p>Here are your stories</p>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        
      <% stories.forEach((story)=>{%>
      <tr>
        <th scope="row"><%=story.title%></th>
        <td><%=story.createdAt%></td>
        <td><%=story.status%></td>
        <td></td>
      </tr>
      <%});%>
    </tbody>
  </table>

  <%} else{%>
    <p>You have not created any story</p>
  <%}%>

</div>
<%- include('footer'); -%> 